@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.alert {
    background-color: purple;
    color: white;
    padding: 10px;
}

img {
    width: 250px;
    height: 250px;
}