a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    list-style: none;
    gap: 2rem;
}

img {
    width: 250px;
    height: 250px;
}